[MASTER]
# Add any Python module names here where you want to disable all warnings
ignore=CVS

# Files or directories to be skipped. They should be base names, not paths
ignore-patterns=

# Python code to execute, usually for sys.path manipulation such as pygtk.require()
#init-hook=

# Use multiple processes to speed up Pylint (use "0" for auto)
jobs=0

# List of plugins (as comma separated values of python modules names) to load
load-plugins=

# Allow loading of arbitrary C extensions. Extensions are imported into the active Python interpreter and may run arbitrary code.
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111, # missing-docstring
    C0301, # line-too-long
    W0603, # global-statement
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0703, # broad-except
    E0401, # import-error                   # TODO !!!!!!!: remove this
    C0413, # wrong-import-position
    R0917, # too-many-positional-arguments
    W1203, # logging-fstring-interpolation
    W0707, # raise-missing-from
    W0703, # broad-except
    C0304, # missing-final-newline
    C0112, # empty-docstring
    W1201, # logging-not-lazy
    C0209, # consider-using-f-string

[FORMAT]
# Maximum number of characters on a single line (we disable this check above, but keep it here for reference)
max-line-length=120

# Maximum number of lines in a module
max-module-lines=2000

# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1 tab).
indent-string='    '

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$
class-rgx=[A-Z_][a-zA-Z0-9_]+$

# Regular expression which should only match correct variable names
variable-rgx=[a-z_][a-z0-9_]{2,50}$

# Good variable names which should always be accepted
good-names=i,j,k,ex,Run,_,id,df,e,ex,exp

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=10

# Ignore imports when computing similarities
ignore-imports=yes

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=numpy,tensorflow,torch,cv2

[MISCELLANEOUS]
# List of note tags to take into consideration
notes=FIXME,XXX,TODO

[IMPORTS]
# Allow wildcard imports from modules that define __all__
allow-wildcard-with-all=no 